@import './variables.scss';
@import './load/loader.scss';
@import './animation.scss';

// default styles
html {
  font: normal  1rem 'Lato', sans-serif;
}
.wrapper { 
  max-width: $ds;
  width: 100%;
  padding: 0 1%;
  margin: 0 auto;
  box-sizing: border-box;
}
body h1, body h2, body h3, body h4, body h5, body h6, body .es-carousel_li h5 {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
}

h2{
  font: normal 55px/55px Montserrat;
  text-align: center;
  margin-bottom: 33px;
}
h5{
  font: normal 20px/24px Open Sans;
  text-align: center;
  padding-bottom: 50px; 
}
/**********************************************************************/
header {
  width: 100%;
  .header-title{
    width: 100%;
    background: rgba(0,0,0,0.6);
    border: none;
    position: absolute;
    z-index: 99;
    left: 0;
    width: 100%;
    padding-top: 98px;
    padding-bottom: 0;
  }
  h1 {
    font-family: OBLIQUE, sans-serif;
    display: block;
    color: $white;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
    span{
      color: $font-color;
      font-weight: 400;
    }
  }
  p {
    font: 600 12px/36px OBLIQUE;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 90px;
    color: $white;
    letter-spacing: 5px;
  }
}

.slider {
  margin-top: 0px;
  position: relative;
  z-index: 19;
  &.sliderDown{
    z-index: 0;
  }
  .owl-carousel{
    .slide {
      height: 80vh;
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
      &.slide-1{
        background: url("../img/slider/natpol(1).jpg");
        background-position: 50% 50%;
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
      &.slide-2{
        background: url("../img/slider/drill-blue.jpg");
        background-position: 100% 50%;
        background-size: 100% auto ;
        background-repeat: no-repeat;
      }
      &.slide-3{
     //   background: url("../img/slider/mwfizjo-fizjoterapia(3).png");
        background-position: 100% 50%;
        background-size: 100% auto ;
        background-repeat: no-repeat; 
      }
      .container-slide {
        height: 100%;
        position: relative;
        top: 43%;
        h2 {
          font: normal 30px/35px Montserrat;
          color: $white;
          display: block;
          margin-left: auto;
          text-align: center;
          margin-right: auto;
          padding: 2%;
          font-size: 120px;
          line-height: 120px;
          font-weight: 400;
        }
        h3{
          color: $white;
          display: block;
          margin-left: auto;
          text-align: center;
          margin-right: auto;
          font-size: 30px;
        }

      }
    }


  }

}
nav{
  width: 100%;
  background-color: $white;
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      background: none;
      border: none;
      a {
        
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $black-text;
        font: normal 24px/28px Montserrat;
        padding: 45px 28px;
        &.active{
          background-color: $font-color;
          color: $white;  
        }
      }

      &:hover{
        background-color: $font-color;
      animation: swing 1s ease;
        a{
          color: $white;
        }
      }
    }
  }
}
article{
  background: $font-color;
  .wrapper{
    padding-top: 100px;
    h2{
      color: $white;
    }
    h5{
      color: $gray-hexagon;
    }
    .icon-hexagon {
      text-align: center;
      &.second {
        position: relative;
        top: -74px;
      }
      ul {
        overflow: hidden;
        display: inline-block;
        li {
          float: left;
          padding: 0 17px 0 12px;
          &:hover{
            animation: swing 1s ease;
            .service-hexagon{
              .container-hexagon-text{
                a {
                  color: $font-color;
                  transition: all 1s ease-in-out;
                }
              }
            }
          }
          .service-hexagon{
            &::before{
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              left: 0;
              border-bottom: 87px solid $gray-hexagon;
              border-left: 150px solid transparent;
              border-right: 150px solid transparent;
              top: -87px;
            }
            margin-top: 87px;
            margin-bottom: 100px;
            width: 300px;
            height: 175px;
            background: $gray-hexagon;
            position: relative;
            overflow: visible;
            box-sizing: border-box;
            .container-hexagon-img{
              vertical-align: middle;
              text-align: center;
              img{
                width: 140px;
                vertical-align: middle;
                text-align: center;
              }
            }
            .container-hexagon-text{
              text-align: center;
              a{
                transition: all 1s ease-in-out;
                background: none;
                padding: 14px 0 0 0;
                font: normal 14px/20px Montserrat;
                color: #8d8d8d;
                text-decoration: none;
                text-transform: uppercase;
                display: block;
              }
            }
            &::after{
              content: "";
              position: absolute;
              bottom: -87px;
              left: 0;
              height: 0;
              width: 0;
              border-top: 87px solid $gray-hexagon;
              border-left: 150px solid transparent;
              border-right: 150px solid transparent;
            }
          }
        }
      }
    }
  }
  .container-hexagon-end{
    padding-top: 0px;
    text-align: center;
    padding-bottom: 30px;
    p{
      font-family: Open Sans;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 60px;
      letter-spacing: 0.5px;
    }
    a {
      text-align: center;
      padding: 15px;
      text-decoration: none;
      color: $white;
      font-size: 20px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out; 
      background: $black-text;
    }
  }
}
.provide{
  .wrapper{
    margin-bottom: 50px;
    h2{
      margin: 50px 0 30px;
      color: $font-color;
      letter-spacing: 2px;
    }
    h5{
      font-weight: 400;
      letter-spacing: 2px;
    }
    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li{
        list-style: none;
      
        img {
          width: 200px;
        }
        h5{
          text-align: center;
          padding-bottom: 20px;
        }
      }
    }
  }
}
.slide-fotter{
  background-image: url('../img/drill2.jpg');
  background-position: 50% 50%;
  background-size: 100% auto;
  height: 80vh;
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 120px);
    h2{
      font-size: 100px;
      color: $white;
      margin-bottom: 17px;
      padding-bottom: 40px;
    }
    h5{
      margin-bottom: 33px;
      padding: 0 120px;
      color: $white;
      font-size: 40px;
      line-height: 50px;
    }
    a{
      text-align: center;
      padding: 15px;
      text-decoration: none;
      color: $white;
      font-size: 20px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out; 
      background: transparent;
      border: 1px solid white;
      width: 200px;
      &:hover{ 
        box-shadow: 
        inset -65px 0 0 0 $black-text,
        inset 65px 0 0 0 $black-text;  
        color: $white;
        border: 1px solid $black-text;
      }
    }
  }
}
footer{

  width: 100%;
  position: absolute;
  overflow: hidden;
  margin-top: -120px;
  z-index: 10;
  height: 120px;
  background: rgba(0,0,0,0.6);

  .wrapper{
    height: 120px;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 120px;
      li {
        a{
          text-decoration: none;
          color: $white;
          font-size: 18px;
          text-transform: uppercase;
          float: left;
          span{
            color: $font-color;
          }
          &:hover{
            animation: swing 1s ease;
          }
        }
        i {
          color: $font-color;
          font-size: 42px;
          margin-right: 20px;
          float: left;
        }
        p{
          color: #fff;
          font: 400 15px/23px Open Sans;
          margin-right: 30px;
          text-transform: uppercase;
          min-width: 300px;
        }
      }
    }
  }
}
.map{
  position: relative;
  bottom: 0;

  #map {
    height: 500px;
    width: 100%;
  }
}
/****/

.close:hover,
.close:focus {
  box-shadow: 
    inset -65px 0 0 0 $white,
    inset 65px 0 0 0 $white;  
    color: $black-text;
}


/*88888888888888888888888888888888888*/
.wrapper {
  padding: 0 3%;
}
@media only screen and (min-width: $tl) { //992px<
  
}
@media only screen and (min-width: $ds) { //1200px<

}